<div class="container">
  <% flash.each do |type, message| %>
    <% if message %>
      <div class="alert alert-<%= type %>">
        <p><%= message %></p>
      </div>
    <% end %>
  <% end %>
</div>

<h3>
  <a href= <%= link.url %> ><%= link.title %></a><br>
</h3>
<%= link_to 'edit', edit_link_path(link) %>
