<div class="container">
  <% flash.each do |type, message| %>
    <% if message %>
      <div class="alert alert-<%= type %>">
        <p><%= message %></p>
      </div>
    <% end %>
  <% end %>
</div>

<div class='link' id=<%= link.id %> >
  <div class='false'>

      <h3>
        <a href= <%= link.url %> ><%= link.title %></a><br>
      </h3>

      <%= link_to 'edit', edit_link_path(link) %>
      
      <% if link.read %>
          <div class='mark-as-unread'>
            <%= link_to 'Mark as unread', '/' %>
          </div>
        </div>
      <% else %>
          <div class='mark-as-read'>
            <%= link_to 'Mark as read', '/' %>
          </div>
        </div>
      <% end %>

  </div>
</div>
