<%= link_to 'Logout', logout_path, method: :delete %>
<h2>My Links</h2><br>
<hr>

<div id="link-search">
  <label>Search
    <input>
  </label>
</div>

<div class='filter-links'>
  <div id='show-read'>
    <%= link_to 'Show Read', links_path %><br>
  </div>
  <div id='show-unread'>
    <%= link_to 'Show Unread', links_path %>
  </div>
  <br><hr>
</div>


<div class='new-link-form'>
  <%= render partial: 'form' %>
</div>
<br><hr>

<div class='links-list'>
  <% @links.each do |link| %>
    <%= render partial: 'show', locals: {link: link} %>
  <% end %>
</div>